In [3]:
#import required packages
import fiona
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from pathlib import Path
import os
import numpy as np

In [4]:
indicator_name = 'Rental_Data'

### Converting excel to point data file

In [5]:
# Reading file

file_path = r'Magicbrics_99_merged.csv'
pointDf = pd.read_csv(file_path,header=0)
pointDf.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Magicbrics_99_merged.csv'

In [6]:
# Checking data types of attributes

pointDf.dtypes

Id                      int64
city_search            object
city                   object
price                   int64
property_area_sqft     object
latitude              float64
longitude             float64
dtype: object

In [7]:
len(pointDf['property_area_sqft'])

96260

In [8]:
# Snippet converts column data type to float format

pointDf['property_area_sqft'] = pointDf['property_area_sqft'].astype(str).str.replace(",", "").astype(float)
pointDf.dtypes

Id                      int64
city_search            object
city                   object
price                   int64
property_area_sqft    float64
latitude              float64
longitude             float64
dtype: object

In [8]:
# pointDf.to_csv(r'D:\Pdt_V2.0\vector\rental_data\priceCheck.csv')

In [9]:
# Creating & adding geometry column from lat, lon attributes

# Ref - https://stdworkflow.com/1615/python-geopandas-text-latitude-and-longitude-converted-to-point-features-line-features

geometry = [Point(xy) for xy in zip(pointDf.longitude, pointDf.latitude)]
gdf = gpd.GeoDataFrame(pointDf, crs="EPSG:4326", geometry = geometry)
gdf

,Id,city_search,city,price,property_area_sqft,latitude,longitude,geometry
0,1,Bangalore,Bangalore,38000,975.000000,13.034996,77.598173,POINT (77.59817 13.03500)
1,2,Bangalore,Bangalore,8500,750.000000,12.868307,77.621774,POINT (77.62177 12.86831)
2,3,Bangalore,Bangalore,250000,3900.000000,12.994704,77.551440,POINT (77.55144 12.99470)
3,4,Bangalore,Bangalore,16000,1200.000000,12.782255,77.645230,POINT (77.64523 12.78225)
4,5,Bangalore,Bangalore,57000,1540.000000,12.994704,77.551440,POINT (77.55144 12.99470)
...,...,...,...,...,...,...,...,...
96255,37560,Mysore,Mysore,6000,1200.000000,12.352240,76.608950,POINT (76.60895 12.35224)
96256,37561,Mysore,Mysore,20000,1600.000000,12.307167,76.684829,POINT (76.68483 12.30717)
96257,37562,Mysore,Mysore,12000,1200.000000,12.312373,76.695421,POINT (76.69542 12.31237)
96258,37563,Mysore,Mysore,21000,1020.096229,12.259453,76.653928,POINT (76.65393 12.25945)
96259,37564,Mysore,Mysore,12000,1200.000000,12.276774,76.644159,POINT (76.64416 12.27677)

In [2]:
# Saving file

# output_path = r'D:\Pdt_V2\vector\rental_data\Rental_Cleaned' + '/' + Path(file_path).stem + '_shp/'

# if not os.path.exists(output_path):
#     os.makedirs(output_path)

gdf.to_file(filename = Path(file_path).stem + '.shp', driver = "ESRI Shapefile")

NameError: name 'gdf' is not defined

### Clipping to AOI extent

In [15]:
# Reading input file whose extent is to be taken 

aoi_file_path = r'Hexgrid_08_bomcities.shp'
aoi_file = gpd.read_file(aoi_file_path)
aoi_file.shape

,hexid08,postcode,is_tc_buf,t_name_buf,is_sdc,is_dc,sd_name,d_name,s_name,is_sc,geohash,geometry
0,883d8c2499fffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xb79j7gbw,"POLYGON ((80.86710 26.69702, 80.87178 26.69958..."
1,883d8c249bfffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xbeb028uf,"POLYGON ((80.87658 26.69752, 80.88126 26.70008..."
2,883d8c24c9fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzk9btqxk,"POLYGON ((80.82425 26.70171, 80.82893 26.70427..."
3,883d8c24cbfffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzs8gdkj1,"POLYGON ((80.83373 26.70221, 80.83841 26.70478..."
4,883d8c24d1fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzuy9knxb,"POLYGON ((80.85270 26.70321, 80.85738 26.70578..."
...,...,...,...,...,...,...,...,...,...,...,...,...
11845,8860060eadfffff,673028,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,t9vzswfkmmmk,"POLYGON ((75.79109 11.19744, 75.78696 11.19500..."
11846,8860060ee7fffff,673015,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,t9vzstt3516v,"POLYGON ((75.79511 11.19000, 75.79098 11.18756..."
11847,8860060721fffff,673314,IND032591803267,Kozhikode,IND03259205645,IND032592,Tirurangadi,Malappuram,Kerala,IND032,t9vzjevmmg1k,"POLYGON ((75.83917 11.09323, 75.83504 11.09079..."
11848,8860060d95fffff,673005,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjb5vy0tn0r,"POLYGON ((75.76326 11.27921, 75.75913 11.27676..."
11849,8860067739fffff,673303,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjbe2sene12,"POLYGON ((75.73929 11.33867, 75.73517 11.33623..."

In [1]:
# File to be clipped

input_file_path = Path(file_path).stem + '.shp' 
input_file = gpd.read_file(input_file_path)
input_file

NameError: name 'Path' is not defined

In [17]:
# Clipping function

clip_file = gpd.clip(input_file, aoi_file)
clip_file

,Id,city_searc,city,price,property_a,latitude,longitude,geometry
30529,34967,Lucknow,Lucknow,9500,1000.0,26.966376,81.000609,POINT (81.00061 26.96638)
28242,32531,Lucknow,Lucknow,9000,1004.0,26.966376,81.000609,POINT (81.00061 26.96638)
30366,34804,Lucknow,Lucknow,10000,807.0,26.966376,81.000609,POINT (81.00061 26.96638)
86516,27798,Lucknow,Lucknow,10000,908.0,26.966378,81.002796,POINT (81.00280 26.96638)
86037,27319,Lucknow,Lucknow,8000,1250.0,26.966378,81.002796,POINT (81.00280 26.96638)
...,...,...,...,...,...,...,...,...
24884,28724,Ahmedabad,Ahmedabad,25000,900.0,23.034523,72.530637,POINT (72.53064 23.03452)
80038,21305,Ahmedabad,Ahmedabad West,20000,990.0,23.034617,72.531406,POINT (72.53141 23.03462)
79839,21106,Ahmedabad,Ahmedabad West,65000,2007.0,23.034704,72.562620,POINT (72.56262 23.03470)
45826,52571,Ahmedabad,Ahmedabad,18000,231.0,23.034780,72.542780,POINT (72.54278 23.03478)
79564,20831,Ahmedabad,Ahmedabad West,25000,1150.0,23.034875,72.580120,POINT (72.58012 23.03487)

In [18]:
clip_file.dtypes

Id               int64
city_searc      object
city            object
price            int64
property_a     float64
latitude       float64
longitude      float64
geometry      geometry
dtype: object

In [13]:
clip_out_path = r'D:\Pdt_V2\vector\rental_data\Rental_Cleaned' + '/' + Path(input_file_path).stem + '_clip'

if not os.path.exists(clip_out_path):
    os.makedirs(clip_out_path)

clip_file.to_file(filename = clip_out_path +  '/' + Path(input_file_path).stem + '_' + Path(aoi_file_path).stem + \
                  '.shp', driver = "ESRI Shapefile")

### Calculating Price per sqft

In [19]:
df = clip_file.copy()
df['Price_per_sqft'] = df['price']/df['property_a']
df

,Id,city_searc,city,price,property_a,latitude,longitude,geometry,Price_per_sqft
30529,34967,Lucknow,Lucknow,9500,1000.0,26.966376,81.000609,POINT (81.00061 26.96638),9.500000
28242,32531,Lucknow,Lucknow,9000,1004.0,26.966376,81.000609,POINT (81.00061 26.96638),8.964143
30366,34804,Lucknow,Lucknow,10000,807.0,26.966376,81.000609,POINT (81.00061 26.96638),12.391574
86516,27798,Lucknow,Lucknow,10000,908.0,26.966378,81.002796,POINT (81.00280 26.96638),11.013216
86037,27319,Lucknow,Lucknow,8000,1250.0,26.966378,81.002796,POINT (81.00280 26.96638),6.400000
...,...,...,...,...,...,...,...,...,...
24884,28724,Ahmedabad,Ahmedabad,25000,900.0,23.034523,72.530637,POINT (72.53064 23.03452),27.777778
80038,21305,Ahmedabad,Ahmedabad West,20000,990.0,23.034617,72.531406,POINT (72.53141 23.03462),20.202020
79839,21106,Ahmedabad,Ahmedabad West,65000,2007.0,23.034704,72.562620,POINT (72.56262 23.03470),32.386647
45826,52571,Ahmedabad,Ahmedabad,18000,231.0,23.034780,72.542780,POINT (72.54278 23.03478),77.922078
79564,20831,Ahmedabad,Ahmedabad West,25000,1150.0,23.034875,72.580120,POINT (72.58012 23.03487),21.739130

### Aggregating data at AOI level

In [20]:
# The columns to be summed over  

price_column = 'Price_per_sqft'

In [21]:
raw_file = df[['price', 'property_a', price_column, 'geometry']]
raw_file

       price  property_a  Price_per_sqft                   geometry
30529   9500      1000.0        9.500000  POINT (81.00061 26.96638)
28242   9000      1004.0        8.964143  POINT (81.00061 26.96638)
30366  10000       807.0       12.391574  POINT (81.00061 26.96638)
86516  10000       908.0       11.013216  POINT (81.00280 26.96638)
86037   8000      1250.0        6.400000  POINT (81.00280 26.96638)
...      ...         ...             ...                        ...
24884  25000       900.0       27.777778  POINT (72.53064 23.03452)
80038  20000       990.0       20.202020  POINT (72.53141 23.03462)
79839  65000      2007.0       32.386647  POINT (72.56262 23.03470)
45826  18000       231.0       77.922078  POINT (72.54278 23.03478)
79564  25000      1150.0       21.739130  POINT (72.58012 23.03487)

[77189 rows x 4 columns]

In [19]:
agg_out_path = r'D:\Pdt_V2\outputs' + '/' + indicator_name + '/AveragePriceSqft/' 

if not os.path.exists(agg_out_path):
    os.makedirs(agg_out_path)

In [20]:
# File with raw data

data_join_csv = gpd.sjoin(aoi_file, raw_file, how="left", op='intersects').drop(['index_right'], axis=1)
data_join_csv = data_join_csv.drop(['geometry'], axis = 1)

data_join_csv.to_csv(agg_out_path +  '/' + Path(input_file_path).stem + '_' + Path(aoi_file_path).stem + '_raw.csv',index=False)

data_join_csv

C:\Program Files\Python39\lib\site-packages\IPython\core\interactiveshell.py:3373: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,HEXID08,POSTCODE,IS_TC_BUF,T_NAME_BUF,IS_SDC,IS_DC,SD_NAME,D_NAME,S_NAME,IS_SC,GEOHASH,price,property_a,Price_per_sqft
0,883d8c2499fffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xb79j7gbw,NaN,NaN,NaN
1,883d8c249bfffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xbeb028uf,NaN,NaN,NaN
2,883d8c24c9fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzk9btqxk,NaN,NaN,NaN
3,883d8c24cbfffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzs8gdkj1,NaN,NaN,NaN
4,883d8c24d1fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzuy9knxb,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11845,8860060eadfffff,673028,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,t9vzswfkmmmk,NaN,NaN,NaN
11846,8860060ee7fffff,673015,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,t9vzstt3516v,NaN,NaN,NaN
11847,8860060721fffff,673314,IND032591803267,Kozhikode,IND03259205645,IND032592,Tirurangadi,Malappuram,Kerala,IND032,t9vzjevmmg1k,NaN,NaN,NaN
11848,8860060d95fffff,673005,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjb5vy0tn0r,NaN,NaN,NaN
11849,8860067739fffff,673303,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjbe2sene12,NaN,NaN,NaN

In [24]:
price_file = df[[price_column, 'geometry']]
price_file

       Price_per_sqft                   geometry
30529        9.500000  POINT (81.00061 26.96638)
28242        8.964143  POINT (81.00061 26.96638)
30366       12.391574  POINT (81.00061 26.96638)
86516       11.013216  POINT (81.00280 26.96638)
86037        6.400000  POINT (81.00280 26.96638)
...               ...                        ...
24884       27.777778  POINT (72.53064 23.03452)
80038       20.202020  POINT (72.53141 23.03462)
79839       32.386647  POINT (72.56262 23.03470)
45826       77.922078  POINT (72.54278 23.03478)
79564       21.739130  POINT (72.58012 23.03487)

[77189 rows x 2 columns]

In [18]:
# Spatial join to obtain points falling within each boundary polygons 
# how parameter set to "left" to retain polygons which has no points in rental data file

data_join = gpd.sjoin(aoi_file, price_file, how="left", op='intersects').drop(['index_right'], axis=1)

data_join

C:\Program Files\Python39\lib\site-packages\IPython\core\interactiveshell.py:3373: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,HEXID08,POSTCODE,IS_TC_BUF,T_NAME_BUF,IS_SDC,IS_DC,SD_NAME,D_NAME,S_NAME,IS_SC,GEOHASH,geometry,Price_per_sqft
0,883d8c2499fffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xb79j7gbw,"POLYGON ((80.86710 26.69702, 80.87178 26.69958...",NaN
1,883d8c249bfffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xbeb028uf,"POLYGON ((80.87658 26.69752, 80.88126 26.70008...",NaN
2,883d8c24c9fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzk9btqxk,"POLYGON ((80.82425 26.70171, 80.82893 26.70427...",NaN
3,883d8c24cbfffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzs8gdkj1,"POLYGON ((80.83373 26.70221, 80.83841 26.70478...",NaN
4,883d8c24d1fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzuy9knxb,"POLYGON ((80.85270 26.70321, 80.85738 26.70578...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11845,8860060eadfffff,673028,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,t9vzswfkmmmk,"POLYGON ((75.79109 11.19744, 75.78696 11.19500...",NaN
11846,8860060ee7fffff,673015,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,t9vzstt3516v,"POLYGON ((75.79511 11.19000, 75.79098 11.18756...",NaN
11847,8860060721fffff,673314,IND032591803267,Kozhikode,IND03259205645,IND032592,Tirurangadi,Malappuram,Kerala,IND032,t9vzjevmmg1k,"POLYGON ((75.83917 11.09323, 75.83504 11.09079...",NaN
11848,8860060d95fffff,673005,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjb5vy0tn0r,"POLYGON ((75.76326 11.27921, 75.75913 11.27676...",NaN
11849,8860067739fffff,673303,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjbe2sene12,"POLYGON ((75.73929 11.33867, 75.73517 11.33623...",NaN

In [48]:
# Adding a new attribute 'num_point' which can be later used for obtaining statistics on the no: of points in each polygon
# num_point set to 1 for rows containing data points


# has_point = data_join.loc[data_join[price_column].notnull()]
# has_point['num_point'] = 1
# has_point

In [49]:
# num_point set to 0 for rows having no data points

# no_point = data_join.loc[data_join[price_column].isnull()]
# no_point['num_point'] = 0
# no_point

In [22]:
# len(no_point.index)

60

In [50]:
# Merging the rows back to a single data frame

# merged_list = [has_point, no_point]
# data_merged = pd.concat(merged_list)
# data_merged

In [21]:
# To check if the attribute values of columns are same for the rows with same HEXID

print(len(data_join.loc[data_join['HEXID08'] == '8860067739fffff']))
data_join.loc[data_join['HEXID08'] == '8860067739fffff']

1

,HEXID08,POSTCODE,IS_TC_BUF,T_NAME_BUF,IS_SDC,IS_DC,SD_NAME,D_NAME,S_NAME,IS_SC,GEOHASH,geometry,Price_per_sqft
11849,8860067739fffff,673303,IND032591803267,Kozhikode,IND03259105640,IND032591,Kozhikode,Kozhikode,Kerala,IND032,tdjbe2sene12,"POLYGON ((75.73929 11.33867, 75.73517 11.33623...",NaN

In [22]:
# Creating dict of columns and their aggregation parameter

merged_columns = data_join.columns
merged_columns = merged_columns.drop([price_column]) #, 'num_point'
print('length: ', len(merged_columns))
print(merged_columns)

length:  12
Index(['HEXID08', 'POSTCODE', 'IS_TC_BUF', 'T_NAME_BUF', 'IS_SDC', 'IS_DC',
       'SD_NAME', 'D_NAME', 'S_NAME', 'IS_SC', 'GEOHASH', 'geometry'],
      dtype='object')

In [23]:
column_list = {column:'first' for column in merged_columns}
column_list

{'HEXID08': 'first',
 'POSTCODE': 'first',
 'IS_TC_BUF': 'first',
 'T_NAME_BUF': 'first',
 'IS_SDC': 'first',
 'IS_DC': 'first',
 'SD_NAME': 'first',
 'D_NAME': 'first',
 'S_NAME': 'first',
 'IS_SC': 'first',
 'GEOHASH': 'first',
 'geometry': 'first'}

In [24]:
# Assigning 'sum' as aggregation parameter for 'price_column' & total_area' attributes

column_list[price_column] = 'mean'
# column_list['num_point'] = 'sum'
column_list

{'HEXID08': 'first',
 'POSTCODE': 'first',
 'IS_TC_BUF': 'first',
 'T_NAME_BUF': 'first',
 'IS_SDC': 'first',
 'IS_DC': 'first',
 'SD_NAME': 'first',
 'D_NAME': 'first',
 'S_NAME': 'first',
 'IS_SC': 'first',
 'GEOHASH': 'first',
 'geometry': 'first',
 'Price_per_sqft': 'mean'}

In [25]:
count_nan_price = data_join[price_column].isnull().sum()
print(f'count_nan_price: {count_nan_price}')
# count_nan_area = data_join['total_area'].isnull().sum()
# print(f'count_nan_area: {count_nan_area}')

count_nan_price: 8180

In [23]:
# data_join[price_column] = data_join[price_column].fillna(0)
# data_join['total_area'] = data_join['total_area'].fillna(0)

In [43]:
# data_merged[price_column] = data_merged[price_column].fillna(0)

# data_join[price_column] = data_join[price_column].dropna()
# data_join

In [26]:
# Aggregating data by HEXID and summing price value at grid level

agg_data = data_join.groupby('HEXID08', as_index= False, dropna=True).agg(column_list) 
agg_data

,HEXID08,POSTCODE,IS_TC_BUF,T_NAME_BUF,IS_SDC,IS_DC,SD_NAME,D_NAME,S_NAME,IS_SC,GEOHASH,geometry,Price_per_sqft
0,883d8c2499fffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xb79j7gbw,"POLYGON ((80.86710 26.69702, 80.87178 26.69958...",NaN
1,883d8c249bfffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xbeb028uf,"POLYGON ((80.87658 26.69752, 80.88126 26.70008...",NaN
2,883d8c24c9fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzk9btqxk,"POLYGON ((80.82425 26.70171, 80.82893 26.70427...",NaN
3,883d8c24cbfffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzs8gdkj1,"POLYGON ((80.83373 26.70221, 80.83841 26.70478...",NaN
4,883d8c24d1fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzuy9knxb,"POLYGON ((80.85270 26.70321, 80.85738 26.70578...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11845,88618935b9fffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr304pceqjf,"POLYGON ((77.71028 12.84079, 77.70602 12.83832...",NaN
11846,88618935bbfffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr30419yvny,"POLYGON ((77.70184 12.84083, 77.69759 12.83835...",NaN
11847,88618935bdfffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr3077j0wme,"POLYGON ((77.71462 12.84826, 77.71036 12.84578...",NaN
11848,88618935d3fffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr2bhx7pqwj,"POLYGON ((77.70976 12.81084, 77.70550 12.80836...",NaN
11849,88618935d7fffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr2bmfwswve,"POLYGON ((77.71411 12.81831, 77.70985 12.81583...",10.962963

In [27]:
agg_data.columns

Index(['HEXID08', 'POSTCODE', 'IS_TC_BUF', 'T_NAME_BUF', 'IS_SDC', 'IS_DC',
       'SD_NAME', 'D_NAME', 'S_NAME', 'IS_SC', 'GEOHASH', 'geometry',
       'Price_per_sqft'],
      dtype='object')

In [28]:
agg_data.dtypes

HEXID08             object
POSTCODE            object
IS_TC_BUF           object
T_NAME_BUF          object
IS_SDC              object
IS_DC               object
SD_NAME             object
D_NAME              object
S_NAME              object
IS_SC               object
GEOHASH             object
geometry          geometry
Price_per_sqft     float64
dtype: object

In [29]:
len(agg_data['HEXID08'].unique())

11850

In [30]:
agg_data.shape

(11850, 13)

In [36]:
agg_data_shp = agg_data.set_geometry('geometry')

agg_data_shp.to_file(filename = agg_out_path +  '/' + Path(input_file_path).stem + '_' + Path(aoi_file_path).stem + '_AvgpriceSqft.shp', 
                     driver = "ESRI Shapefile")

C:\Users\anubhav\AppData\Local\Temp\ipykernel_12308\193491690.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  agg_data_shp.to_file(filename = agg_out_path +  '/' + Path(input_file_path).stem + '_' + Path(aoi_file_path).stem + '_AvgpriceSqft.shp',

In [37]:
agg_data_csv = agg_data.drop(['geometry'], axis = 1)
agg_data_csv

,HEXID08,POSTCODE,IS_TC_BUF,T_NAME_BUF,IS_SDC,IS_DC,SD_NAME,D_NAME,S_NAME,IS_SC,GEOHASH,Price_per_sqft
0,883d8c2499fffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xb79j7gbw,NaN
1,883d8c249bfffff,226301,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9xbeb028uf,NaN
2,883d8c24c9fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzk9btqxk,NaN
3,883d8c24cbfffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzs8gdkj1,NaN
4,883d8c24d1fffff,226401,IND009157800951,Lucknow,IND00915700821,IND009157,Lucknow,Lucknow,Uttar Pradesh,IND009,tu9rzuy9knxb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11845,88618935b9fffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr304pceqjf,NaN
11846,88618935bbfffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr30419yvny,NaN
11847,88618935bdfffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr3077j0wme,NaN
11848,88618935d3fffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr2bhx7pqwj,NaN
11849,88618935d7fffff,560099,IND029572803162,Bengaluru,IND02957205545,IND029572,Anekal,Bangalore,Karnataka,IND029,tdr2bmfwswve,10.962963

In [38]:
agg_data_csv.to_csv(agg_out_path +  '/' + Path(input_file_path).stem + '_' + Path(aoi_file_path).stem + '_AvgpriceSqft.csv',index=False)

In [42]:
# agg_data.loc[agg_data['num_point']==0]

In [71]:
# agg_data['num_point'].unique()

array([  0,   1,   3,   4,   2,  10,  43,  16,  14,   5,   6,   7,   8,
        26,  23,  19,  40,  17,  12,   9,  63,  35,  13,  18,  20,  37,
        28,  48,  15,  42,  44,  46,  22,  24,  45,  11,  34,  27,  64,
        53,  21, 272,  41,  38,  25,  31,  32,  93,  29,  33,  62,  36,
       140,  39,  55,  51,  47,  81,  61,  80,  87,  30,  50,  54,  68,
        74,  96,  59, 183, 129, 105,  58,  99, 198,  70], dtype=int64)

In [72]:
# Calculating statistics of poygons - represents frequencies of the unique values in 'num_point' column

# stat_percent = agg_data['num_point'].value_counts(normalize=True)*100
# stat_percent = stat_percent.sort_index()
# print(type(stat_percent))
# stat_percent

<class 'pandas.core.series.Series'>

0      46.012592
1       8.342078
2       5.089192
3       4.459601
4       4.459601
         ...
129     0.052466
140     0.052466
183     0.052466
198     0.052466
272     0.052466
Name: num_point, Length: 75, dtype: float64

In [73]:
# Calculating statistics of poygons - represents number of polygons having the unique values in 'num_point' column

# stat_num = agg_data['num_point'].value_counts()
# stat_num = stat_num.sort_index()
# print(type(stat_num))
# stat_num

<class 'pandas.core.series.Series'>

0      877
1      159
2       97
3       85
4       85
      ...
129      1
140      1
183      1
198      1
272      1
Name: num_point, Length: 75, dtype: int64

In [41]:
# stat = pd.merge(stat_num, stat_percent, right_index = True,left_index = True)
# stat

In [80]:
# stat_out_path = r'D:\Pdt_V2.0\outputs' + '/' + indicator_name + '/' + Path(input_file_path).stem

# if not os.path.exists(stat_out_path):
#     os.makedirs(stat_out_path)
    

# stat.to_excel(stat_out_path + '/' + Path(input_file_path).stem + '_stat_final.xlsx', index=True, index_label= 'Num_points_in_polygon',
#            header=['Num_Polygons','Percent'])